<footer class="container-fluid bg-dark">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-2">
                <i class="fab fa-grunt fa-10x" style="color:aliceblue"></i>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title ">OBEDECE</h4>
                    <p class="h6 card-subtitle">El gordo es el gordoO!</p>
                    
                    </div>
                    

                </div>

            </div>

        </div>

    </div>
</footer>
<script src="js/form.js"></script>