<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <% include particion/head.html%>
</head>
<body>
    <% include particion/navegacion.html%>
    <section>
        <div class="container mt-2">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/morocha.jpg" class="card-img-top" alt="morocha">
                            <h4 class="card-title ">title</h4>
                            <h6 class="card-subtitle mb-2">subtitle</h6>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure
                                autem officiis animi iusto mollitia soluta, minus beatae ducimus voluptas molestiae numquam
                                cum
                                iste? Eius architecto fuga quisquam ut. Ullam!</p>
                            <a class="card-link" href="/">HOME</a>
                            <a class="card-link" href="/about">ABOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>